In [1]:
import numpy as np
import pandas as pd
import altair as alt
#import matplotlib as plt

In [2]:
datos = pd.read_csv('C:/Users/gpabl/Documents/git/proyectomat282/datos/datos.csv', low_memory=False)

In [3]:
datos.head()

   store_nbr  product_nbr  tickets    sales  quantity_dimless
0          0       292337       19   169578                19
1          1       993157      206   490015               301
2          1       475492      103   526162               112
3          2       864448       93    87829               110
4          2         2929     4978  3645122              7172

In [4]:
datos.shape # tamaño del df

(163502, 5)

In [5]:
datos["product_nbr"].unique().shape[0] ## numero total de productos

19629

In [6]:
datos.describe() ## summary

,store_nbr,product_nbr,tickets,sales,quantity_dimless
count,163502.000000,1.635020e+05,163502.000000,1.635020e+05,163502.000000
mean,8.442105,6.140533e+05,515.837378,1.040289e+06,632.889280
std,5.493086,3.293140e+05,1563.652609,2.087246e+07,1932.380182
min,0.000000,7.400000e+01,1.000000,8.400000e+01,1.000000
25%,4.000000,2.996295e+05,31.000000,6.666225e+04,35.000000
50%,9.000000,7.182170e+05,130.000000,2.371200e+05,150.000000
75%,13.000000,9.144350e+05,453.000000,6.952910e+05,537.000000
max,19.000000,1.079974e+06,105100.000000,3.542188e+09,112300.000000

In [7]:
datos["store_nbr"].unique() ## locales

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19], dtype=int64)

In [8]:
aux1 = (datos.groupby(["store_nbr"]).agg(ventas = ("sales","sum"),promedio_ventas = ("sales","mean"),
        numero_productos = ("product_nbr","count"),
        venta_maxima = ("sales","max"),qadim_total = ("quantity_dimless","sum")).reset_index()

       )
        
aux1

,store_nbr,ventas,promedio_ventas,numero_productos,venta_maxima,qadim_total
0,0,16418267518,1.198851e+06,13695,3456864833,10397914
1,1,2758606898,9.195356e+05,3000,253721858,2307764
2,2,9839365575,9.491960e+05,10366,1670239384,6130267
3,3,22041054712,1.757940e+06,12538,1864124874,13073037
4,4,6525964541,7.310367e+05,8927,816838159,4643232
5,5,14213615219,1.181809e+06,12027,1149635274,8823629
6,6,14667332946,1.181325e+06,12416,2669139921,7748287
7,7,1889048119,6.694005e+05,2822,198867934,1628675
8,8,136694827,3.181909e+04,4296,17507657,88906
9,9,8628709994,7.717297e+05,11181,1223976237,5033038
10,10,15956519833,1.268505e+06,12579,1992699241,8412116
11,11,12196295877,1.276965e+06,9551,3542187875,5930142
12,12,1650243864,5.864406e+05,2814,186652528,1334077
13,13,12408663821,1.082119e+06,11467,1334203270,7604030
14,14,898311574,3.209402e+05,2799,153312254,863317
15,15,9935473194,9.825428e+05,10112,2204794353,5763505
16,16,8484774638,9.340351e+05,9084,1143359057,5676432
17,17,8367446284,1.052244e+06,7952,1602351522,5386403
18,18,1105607935,3.861711e+05,2863,163824509,937588
19,19,1967311057,6.529409e+05,3013,274780730,1696304

In [9]:
aux4 = pd.DataFrame(aux1.index)

u1 = aux1.sort_values("ventas",ascending = False)["store_nbr"].reset_index().drop("index",axis=1).rename(columns = {"store_nbr":"ventas"})
u1["index"] = aux4
u2 = aux1.sort_values("promedio_ventas",ascending = False)["store_nbr"].reset_index().rename(columns = {"store_nbr":"promedio_ventas"}).drop("index",axis=1)
u2["index"] = aux4
u3 =  aux1.sort_values("venta_maxima",ascending = False)["store_nbr"].reset_index().rename(columns = {"store_nbr":"venta_maxima"}).drop("index",axis=1)
u3["index"] = aux4
u4 = aux1.sort_values("numero_productos",ascending = False)["store_nbr"].reset_index().rename(columns = {"store_nbr":"numero_productos"}).drop("index",axis=1)
u4["index"] = aux4

aux3 = u1.merge(u2,on="index", how = "left").merge(u3,on="index",how="left").merge(u4,on = "index",how="left").drop("index",axis=1)
aux3

    ventas  promedio_ventas  venta_maxima  numero_productos
0        3                3            11                 0
1        0               11             0                10
2       10               10             6                 3
3        6                0            15                 6
4        5                5            10                 5
5       13                6             3                13
6       11               13             2                 9
7       15               17            17                 2
8        2               15            13                15
9        9                2             9                11
10      16               16             5                16
11      17                1            16                 4
12       4                9             4                17
13       1                4            19                 8
14      19                7             1                19
15       7               19             7                 1
16      12               12            12                18
17      18               18            18                 7
18      14               14            14                12
19       8                8             8                14

In [10]:
alt.Chart(aux1).mark_bar().encode(
    x = alt.X("store_nbr",title= "store nbr"),
    y = alt.Y(alt.repeat("column"),type = "quantitative" )).repeat(column = ['ventas','venta_maxima','promedio_ventas','numero_productos'])

alt.RepeatChart(...)

### por producto

In [11]:
prod = (datos.groupby("product_nbr").agg(ventas = ("sales","sum"),venta_max = ("sales","max"), 
        numero_locales = ("store_nbr","count"),tickets_totales = ("tickets","sum"),
        total_q_adim = ("quantity_dimless","sum"), venta_prom = ("sales","mean"),tickets_prom = ("tickets","mean"))
        .sort_values("product_nbr").reset_index()
       
       )
display(prod.head())

,product_nbr,ventas,venta_max,numero_locales,tickets_totales,total_q_adim,venta_prom,tickets_prom
0,74,23540965,2544474,20,31160,40014,1.177048e+06,1558.000000
1,106,78375257,10875159,20,50499,66875,3.918763e+06,2524.950000
2,108,796434,773494,3,1039,1429,2.654780e+05,346.333333
3,130,181220,55555,13,610,884,1.394000e+04,46.923077
4,137,5594856,774074,14,5345,6408,3.996326e+05,381.785714

## Score

In [12]:
def score(df):
    v = df["sales"]
    q = df["quantity_dimless"]
    t = df["tickets"]
    return (v + q)/t

In [13]:
datos['score'] = datos.apply(score, axis=1)

In [14]:
datos.sort_values("score", ascending=False)

,store_nbr,product_nbr,tickets,sales,quantity_dimless,score
77270,8,531691,85,17507657,85,205973.435294
1642,11,531693,65,12732000,65,195877.923077
146703,6,531691,13939,2669139921,13939,191488.188536
29670,10,531691,13491,1992699241,13491,147706.821733
110977,18,531691,290,42261854,290,145731.531034
...,...,...,...,...,...,...
154646,15,532127,475,24570,475,52.726316
120737,13,532127,226,11370,226,51.309735
135257,4,532127,558,27950,558,51.089606
76102,5,532127,188,9270,188,50.308511
21402,8,532127,9,340,9,38.777778